{% extends "article_list.html" %}

{% block title %}{{ _('Articles by') }} {{ author }} - {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="icon-home"></i></a></li>
            <li class="breadcrumb-item"><a href="{{ SITEURL }}/{{ AUTHORS_URL|default('authors.html') }}" title="{{ _('Authors') }}">{{ _('Authors') }}</a></li>
            <li class="breadcrumb-item active">{{ AUTHOR }}</li>
        </ol>
    {% endif %}
{% endblock %}
