{% extends "article_list.html" %}
{% block title %}{{ tag }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ tag }}" />
{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="icon-home"></i></a></li>
        <li class="breadcrumb-item"><a href="{{ SITEURL }}/{{ TAGS_URL }}" title="Tags">Tags</a></li>
        <li class="breadcrumb-item active">{{ tag }}</li>
    </ol>
    {% endif %}
{% endblock %}
